<div [ngStyle]="{ position: 'relative' }" (mousemove)="setMousePos()">

  <!-- WEBCC -->
  <div id="webcc" [ngStyle]="{ height: '100vh' }" (click)="handleClick()"></div>

  <!-- SIDEBAR -->
  <div
    class="absolute top-0 left-0 flex flex-col w-64 h-screen overflow-y-auto bg-slate-300 p-2 text-xs"
  >

    <div class="flex flex-row mb-1">
      <div class="bg-slate-500 p-2 rounded mb-1">
        <span class="text-base text-white">Ventanas</span>
        <select
          [(ngModel)]="ventanaSeleccionada"
          class="w-full mb-1 mt-2 rounded py-2 px-4 font-bold border-2 border-blue-900 bg-blue-300 hover:bg-blue-900 hover:text-white"
        >
          <ng-container *ngFor="let ventana of ventanasDisponibles; index as i">
            <option [ngValue]="ventana">{{i + 1 }} -- {{ ventana.name }}</option>
          </ng-container>
        </select>

        <app-default-button
          (btnClick)="importWindow()"
          buttonText="Importar ventana"
          class="mb-1"
        ></app-default-button>
      </div>
    </div>

    <!-- <app-default-button
      (btnClick)="downloadUpdated()"
      buttonText="Descargar actualizado"
      class="mb-4"
    ></app-default-button> -->

    <ng-container *ngIf="true">
      <!-- <div class="flex flex-row mb-1">
        <app-default-button
          (btnClick)="undo()"
          buttonText="Deshacer"
          class="mr-2 w-full"
        ></app-default-button>
        <app-default-button
          (btnClick)="redo()"
          buttonText="Rehacer"
          class="w-full"
        ></app-default-button>
      </div>

      <app-default-button
        *ngIf="!demoMode"
        (btnClick)="delete()"
        buttonText="Eliminar"
        class="mb-1"
      ></app-default-button> -->

      <app-default-button
        (btnClick)="clear()"
        buttonText="Borrar todo"
        class="mb-4"
      ></app-default-button>

      <!-- <select
        *ngIf="!demoMode"
        [(ngModel)]="selectedTool"
        (change)="onToolSelectChange()"
        class="w-full mb-1 rounded py-2 px-4 font-bold border-2 border-blue-900 bg-blue-300 hover:bg-blue-900 hover:text-white"
      >
        <ng-container *ngFor="let tool of tools">
          <option [value]="tool">{{ tool }}</option>
        </ng-container>
      </select> -->

      <!-- <app-default-button
        *ngIf="!demoMode"
        (btnClick)="selectTool(toolType.frame_rectangle)"
        buttonText="Marco rectangular"
        class="mb-1"
      ></app-default-button>

      <div class="flex flex-row mb-1">
        <app-default-button
          (btnClick)="selectTool(toolType.mullion_vertical)"
          buttonText="Div vertical"
          class="mr-2 w-full"
        ></app-default-button>
        <app-default-button
          (btnClick)="selectTool(toolType.mullion_horizontal)"
          buttonText="Div horizontal"
          class="w-full"
        ></app-default-button>
      </div> -->

      <!-- <div class="flex flex-row mb-1" *ngIf="!demoMode">
        <app-default-button
          (btnClick)="selectTool(toolType.slide)"
          buttonText="Slide"
          class="mr-2 w-full"
        ></app-default-button>
        <app-default-button
          (btnClick)="selectTool(toolType.sash)"
          buttonText="Sash"
          class="w-full"
        ></app-default-button>
      </div> -->

      <!-- <app-default-button
        *ngIf="!demoMode"
        (btnClick)="selectTool(toolType.connector)"
        buttonText="Conector"
        class="mb-4"
      ></app-default-button>
      <app-default-button
        *ngIf="!demoMode"
        (btnClick)="selectTool(toolType.note)"
        buttonText="Nota"
        class="mb-1"
      ></app-default-button>
      <app-default-button
        *ngIf="!demoMode"
        (btnClick)="changeDisplay()"
        buttonText="Display mode"
        class="mb-1"
      ></app-default-button>
      <app-default-button
        *ngIf="!demoMode"
        (btnClick)="exportMaterials()"
        buttonText="Exportar Materiales"
        class="mb-1"
      ></app-default-button> -->
      <app-default-button
        *ngIf="!demoMode"
        (btnClick)="exportJson()"
        buttonText="Log json"
        class="mb-1"
      ></app-default-button>
      <app-default-button
        *ngIf="!demoMode"
        (btnClick)="print()"
        buttonText="Log webcc"
        class="mb-1"
      ></app-default-button>
      <!-- <app-default-button (btnClick)="updatePoly()" buttonText="Update Poly" class="mb-1"></app-default-button> -->


      <!-- <div class="bg-slate-500 p-2 rounded mb-1">
        <span class="text-base text-white">Ventanas</span>
        <select
          [(ngModel)]="ventanaSeleccionada"
          class="w-full mb-1 mt-2 rounded py-2 px-4 font-bold border-2 border-blue-900 bg-blue-300 hover:bg-blue-900 hover:text-white"
        >
          <ng-container *ngFor="let ventana of ventanasDisponibles">
            <option [value]="ventana.value">{{ ventana.name }}</option>
          </ng-container>
        </select>

        <app-default-button
          (btnClick)="importWindow()"
          buttonText="Importar ventana"
          class="mb-1"
        ></app-default-button>
      </div>

      <div class="bg-slate-500 p-2 rounded mb-1" *ngIf="!demoMode">
        <span class="text-base text-white">Perfiles</span>
        <select
          [(ngModel)]="perfilSeleccionado"
          class="w-full mb-1 mt-2 rounded py-2 px-4 font-bold border-2 border-blue-900 bg-blue-300 hover:bg-blue-900 hover:text-white"
        >
          <ng-container *ngFor="let perfil of perfilesDisponibles">
            <option [value]="perfil.value">{{ perfil.name }}</option>
          </ng-container>
        </select>

        <app-default-button
          (btnClick)="applyProfileSize()"
          buttonText="Aplicar Medidas Perfil"
          class="mb-1"
        ></app-default-button>
      </div> -->
    </ng-container>
  </div>

  <!-- MOUSE POS -->
  <div
    class="absolute top-0 left-64 p-2 bg-slate-300 w-20 h-16 rounded-br flex flex-col justify-center"
  >
    <div class="flex flex-col justify-start content-start">
      <span class="text-sm">X: {{ mousePos.x }}</span>
      <span class="text-sm">Y: {{ mousePos.y }}</span>
    </div>
  </div>

  <!-- MATERIALS -->
  <div
    class="h-96 w-auto bg-gray-300 absolute bottom-0 right-0 overflow-auto p-2 rounded-tl"
    *ngIf="materials.length && !demoMode && true"
  >
    <table class="table-auto text-justify w-full">
      <thead>
        <tr>
          <th class="p-1">Descripción</th>
          <th class="p-1">Largo</th>
          <th class="p-1">Ancho</th>
          <th class="p-1">Orientación</th>
          <th class="p-1">Corte</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let m of materials"
          class="rounded hover:bg-gray-200 border-b border-gray-600"
          (click)="setHighlighted(m)"
        >
          <td class="px-2">{{ m.description }}</td>
          <td class="px-2 text-right">
            {{ m.height.toFixed(1).replace(".0", "") }}
          </td>
          <td class="px-2 text-right">
            {{ m.width.toFixed(1).replace(".0", "") }}
          </td>
          <td class="px-2 text-center">{{ m.orientation }}</td>
          <td class="px-2">{{ m.angulosCorte }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- SASH GROUP SETTINGS -->
  <div
    class="w-64 bg-gray-300 top-0 right-0 p-4 absolute rounded-bl flex flex-col"
    *ngIf="sashGroupSettings && true"
  >
    <div class="flex flex-row justify-between mb-1">
      <select
        [(ngModel)]="selectedSlideType"
        (change)="changeSlideType(false)"
        class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mb-1 w-full mr-1"
      >
        <ng-container *ngFor="let option of slideTypes">
          <option [value]="option">{{ option }}</option>
        </ng-container>
      </select>

      <app-default-button
        (btnClick)="changeSlideType(true)"
        buttonText="Siguiente"
        className="mb-1"
      ></app-default-button>
    </div>

    <!-- <div class="flex flex-row justify-between">
      <select
        [(ngModel)]="selectedJointWay"
        (change)="changeJointWay()"
        class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mb-1 w-full mr-1"
      >
        <ng-container *ngFor="let jointWay of jointWays">
          <option [value]="jointWay">{{ jointWay }}</option>
        </ng-container>
      </select>
    </div>

    <div class="flex flex-row justify-between">
      <select
        [(ngModel)]="selectedHandleShape"
        (change)="changeHandleShape()"
        class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mb-1 w-full mr-1"
      >
        <ng-container *ngFor="let hardware of hardwareShapes">
          <option [value]="hardware">{{ hardware }}</option>
        </ng-container>
      </select>
    </div>

    <div class="flex flex-row justify-between">
      <select
        [(ngModel)]="selectedHingeShape"
        (change)="changeHingeShape()"
        class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mb-1 w-full mr-1"
      >
        <ng-container *ngFor="let hardware of hardwareShapes">
          <option [value]="hardware">{{ hardware }}</option>
        </ng-container>
      </select>
    </div> -->
  </div>

</div>
